

.main-header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp");
}

.main-section {
}